/* Outfit Regular */
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400; /* peso normal */
  font-style: normal;
}

/* Outfit Bold */
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700; /* negrita */
  font-style: normal;
}

/* Young Serif */
@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400; /* peso normal */
  font-style: normal;
}

:root{
    --color-background: hsl(30, 18%, 87%);
    --color-primario: hsl(0, 0%, 100%);
    --color-secundario: #F4E6FA;
    --text-default: 'Open Sans';
}

/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-default);
}

body{
    background: var(--color-background);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3, h4, p {
  font-family: 'Young Serif', serif;
  font-weight: 600; 
  color: #333;
}

b{
    font-weight: 700;
}

.contenedor-receta {
    background-color: var(--color-primario);
    max-width: 700px;
    width: 90%; 
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
}

.imagen-receta img{
    width: 100%;
    border-radius: 5px;
}

.descripcion-receta h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
}

.descripcion-receta h2{
    font-weight: 50;
    font-size: 18px;
    line-height: 1.5;
}

.preparation-time{
    background: var(--color-secundario);
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
}

.preparation-time h2{
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
    padding-left: 20px; /*"Empuja" el texto dentro del contenedor*/
    font-size: 22px;
}

.preparation-time ul{
    padding-left: 40px; 
}

.preparation-time ul li{
    margin: 15px 0; 
    padding-left: 5px;
    color: #333;
}

.ingredientes h1{
    margin-top: 20px;
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
    font-size: 30px;
}

.ingredientes ul{
    padding-left: 20px;
}

.ingredientes ul li{
    margin: 15px 0;
    padding-left: 5px;
    color: #333;
}

.linea{
    border-top: 2px solid hsl(30, 54%, 90%);
    margin-top: 35px;
}

.instrucciones h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(14, 45%, 36%);
}

ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.instrucciones ol li{
    margin-left: 25px;
    padding-left: 16px;
    margin-bottom: 10px;
}

.instrucciones ol li p{
    font-weight: normal;
    line-height: 1.5;
}

.nutricion h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(14, 45%, 36%);
}

.nutricion h2{
    font-weight: 50;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.fila{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
}

.fila h4{
    font-weight: normal;
    flex: 0 0 auto;
    text-align: left;
}

.fila p{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.fila:not(:last-child) {
    /* Aplica un borde inferior a todas las filas excepto a la última */
    border-bottom: 1px solid hsl(30, 54%, 90%);
    padding-bottom: 10px;
}
